<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/students/add/" method="post" th:object="${student}">
        <p>First name: <input type="text" name="first_name" th:field="${student.firstName}"></p>
        <p>Last name: <input type="text" name="last_name" th:field="${student.lastName}"></p>
        <p>Age: <input type="number" step="1" name="age" th:field="${student.age}"></p>
        <select th:each="group:${groups}" th:field="${student.group}">
            <option th:value="${group}" th:text="${group.name}"></option>
        </select>
        <input type="submit" value="Create student">
    </form>
</body>
</html>